<footer>
  <div id="footer" class="container" itemtype="http://schema.org/Person" itemscop="">
    <div class="col-md-2">
      <img src="/images/profile.jpeg" class="img-responsive" itemprop"image">
    </div>

    <div class="col-md-8">
      <a name="contact">
      <h2 itemprop="name">Lawrence Woodman</h2>
      <ul>
        <li><a href="mailto:lwoodman@vlifesystems.com" itemprop="email">Email: lwoodman@vlifesystems.com</a></li>
        <li><a href="http://twitter.com/lorrywoodman">Twitter: @lorrywoodman</a></li>
        <li><a href="http://techtinkering.com">TechTinkering (A blog about vintage computers, programming and general technical tinkering)</a></li>
        <li><a href="https://github.com/lawrencewoodman">Github</a></li>
       <li><a href="http://uk.linkedin.com/in/lawrencewoodman">LinkedIn</a></li>
       <li><a href="http://stackoverflow.com/users/635293/lawrence-woodman">StackOverflow</a></li>
       <li><a href="https://profiles.google.com/u/0/108308415056519393766/" rel="me">Google+</a></li>
      </ul>
    </div>
  </div>
</footer>
