<footer>
  <div id="footer" class="container" itemtype="http://schema.org/Person" itemscope="">
    <div class="row">
      <div class="col-md-3">
        <img src="/images/profile.jpeg" class="img-responsive" itemprop="image">
      </div>

      <div class="col-md-9">
        <a name="contact">
        <h2 itemprop="name">Lawrence Woodman</h2>
        <ul>
          <li><a href="mailto:lwoodman@vlifesystems.com">Email: <span itemprop="email">lwoodman@vlifesystems.com</span></a></li>
          <li><a href="http://twitter.com/lorrywoodman">Twitter: @lorrywoodman</a></li>
          <li><a href="http://techtinkering.com">TechTinkering</a> (A blog about vintage computers, programming and general technical tinkering)</li>
          <li itemtype="http://schema.org/Organization" itemscope="" itemprop="worksFor"><a href="http://vlifesystems.com" itemprop="url"><span itemprop="name">vLife Systems Ltd</span></a> (My company)</li>
          <li><a href="https://github.com/lawrencewoodman">Github</a></li>
          <li><a href="https://www.youtube.com/user/LawrenceWoodman">YouTube</a></li>
         <li><a href="http://uk.linkedin.com/in/lawrencewoodman">LinkedIn</a></li>
         <li><a href="http://stackoverflow.com/users/635293/lawrence-woodman">StackOverflow</a></li>
         <li><a href="https://profiles.google.com/u/0/108308415056519393766/" rel="me">Google+</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
